<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <title>OnlineStore</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <img src="~/images/logo1.jpg" alt="logo" title="logo" height="72" width="290" />
            <div class="col text-right">
                @await Component.InvokeAsync("CartSummary")
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <span class="badge-info">You're logged in as @User?.Identity.Name </span>
                }
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <a asp-controller="Home" asp-action="OtherAction"
                       class="btn btn-sm btn-primary">My Account</a>
                    <a class="btn btn-sm btn-primary"
                       asp-action="UserOrders" asp-controller="Order">My Orders</a>
                    <a class="btn btn-sm btn-primary"
                       asp-action="Logout" asp-controller="Account">logout</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="OtherAction"
                       class="btn btn-sm btn-primary">Login</a>
                    <a asp-controller="Home" asp-action="Create"
                       class="btn btn-sm btn-primary">Register</a>
                }
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
