@model Cart
<div>
    @if (Model.Lines.Count() > 0)
    {
        <span>
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")
        </span>
    }
    <a asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i>checkout</i>
    </a>
</div>