<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link rel="stylesheet" asp-href-include="css/style.css" />*@
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js">
    </script>
</head>
<body class="m-1 p-1">
    <div class="bg-info p-2 row">
        <div class="col">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="col-2">
            <a class="btn btn-sm btn-primary"
               asp-action="Logout" asp-controller="Account">logout</a>
        </div>
    </div>


    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @*<div class="row">
                <a class="btn btn-sm btn-primary"
                   asp-action="List"
                   asp-controller="Product"
                   asp-route-category="">
                    Homepage
                </a>
            </div>*@
            <div class="row">
                <a class="btn btn-sm btn-primary"
                   asp-action="Index" asp-controller="Admin">Products</a>
            </div>
            <div class="row">
                <a class="btn btn-sm btn-primary"
                   asp-action="List" asp-controller="Order">Orders</a>
            </div>
            <div class="row">
                <a class="btn btn-sm btn-primary"
                   asp-action="Users" asp-controller="Admin">Users</a>
            </div>
            <div class="row">
                <a class="btn btn-sm btn-primary"
                   asp-action="index" asp-controller="RoleAdmin">Roles</a>
            </div>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>


    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }

 

</body>
</html>
