<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OnlineStore</title>
</head>
<body>
    <div>
        <a href="#">ONLINE STORE</a>
    </div>
    <div>
        <hr>
        <div>
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <hr>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
