<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OnlineStore</title>
</head>
<body>
    <div>
        <div>
            <a href="#">ONLINE STORE</a>
            <div>
                @await Component.InvokeAsync("CartSummary")
            </div>
        </div>
    </div>
    <div>
        <hr>
        <div>
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <hr>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>

div {
	width: 40%;
	padding: 20px;
	display: inline-block;
}