@using OnlineStore.Models
@using OnlineStore.Models.ViewModels
@using OnlineStore.Infrastructure
@using Microsoft.AspNetCore.Identity
@addTagHelper OnlineStore.Infrastructure.*, Users
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper OnlineStore.Infrastructure.*, OnlineStore
<a href="~/Views/_ViewImports.cshtml">~/Views/_ViewImports.cshtml</a>