@*the view will receive a sequence of Product
objects from the action method as its model data*@
@model IEnumerable<Product>
@foreach (var p in Model)
{
<div>
    @p.Name @p.Price.ToString("c")
    <br>@p.Description
    <br> 
</div>

}