@model Dictionary<string, object>


@if (Model["Action"].ToString() == "OtherActionCustom")
{
    Layout = "_AdminLayout";
}

<div class="bg-primary m-1 p-1 text-white"><h4>User Details</h4></div>

<table class="table table-sm table-bordered m-1 p-1">
    @foreach (var kvp in Model)
    {
        @if (kvp.Key == "Action")
        {
            <tr><th colspan="2" align"center"><h3>General</h3></th></tr>
        }
        @if (kvp.Key == "Line1")
        {
            <tr><th colspan="2" align="center"><h3>Address</h3></th></tr>
        }
        @if (kvp.Key == "CreditCardOwner")
        {
            <tr><th colspan="2" align="center"><h3>Credit Card</h3></th></tr>
        }

        <tr><th>@kvp.Key</th><td>@kvp.Value</td></tr>
    }
</table>

@if (Model["Action"].ToString() == "OtherAction")
{

    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a asp-controller="Account" asp-action="Logout"
           class="btn btn-danger">Logout</a>
    }

    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a asp-controller="Home" asp-action="UserProps"
           class="btn btn-warning">Edit</a>
    }

}
