@model Order
<h2>Check out</h2>
<p>Enter details</p>
<form asp-action="Checkout" method="post">
    <h3>Ship to</h3>
    <div>
        <label>Name:</label><input asp-for="Name"/>
    </div>
    <h3>Address</h3>
    <div>
        <label>Line 1:</label><input asp-for="Line1"/>
    </div>
    <div>
        <label>Line 2:</label><input asp-for="Line2"/>
    </div>
    <div>
        <label>City:</label><input asp-for="City"/>
    </div>
    <div>
        <label>Zip:</label><input asp-for="Zip"/>
    </div>
    <h3>Options</h3>
    <div class="checkbox">
        <label>
            <input asp-for="ShippingInsurance" />
            Get insurance against loss in transit
        </label>
    </div>
    <div>
        <input type="submit" value="Complete Order" />
    </div>
</form>