@model Order
<h2>Check out</h2>
<p>Enter shipping details</p>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post">
    <h3>Deliver to</h3>
    <div class="form-group">
        <label>Name:</label><input asp-for="Name"/>
    </div>
    <h3>Address</h3>
    <div class="form-group">
        <label>Line 1:</label><input asp-for="Line1"/>
    </div>
    <div class="form-group">
        <label>Line 2:</label><input asp-for="Line2"/>
    </div>
    <div class="form-group">
        <label>City:</label><input asp-for="City"/>
    </div>
    <div class="form-group">
        <label>Zip:</label><input asp-for="Zip"/>
    </div>
    <h3>Options</h3>
    <div class="checkbox">
        <label>
            <input asp-for="ShippingInsurance" /> Get shipping insurance
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete Order" />
    </div>
</form>