@*<style>
    .btn-primary {
        font-weight: bold;
    }
</style>*@

@*<link rel="stylesheet" asp-href-include="css/style.css" />*@

<b>Shop by Category</b>
<br>
@model IEnumerable<string>
<a class="btn btn-block btn-secondary"
   asp-action="List"
   asp-controller="Product"
   asp-route-category="">
    All
</a>

@foreach (string category in Model)
{
    @*<div>*@
        <a class="btn btn-block
        @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
           asp-action="List"
           asp-controller="Product"
           asp-route-category="@category"
           asp-route-productPage="1"
           asp-route-filter="default">
            @category
        </a>
    @*</div>*@
}

<hr>
Sort:

<div>
    <a class="btn btn-block"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@ViewBag.SelectedCategory"
       asp-route-productPage="1"
       asp-route-filter="priceLowest">
        Price Lowest
    </a>
</div>
<div>
    <a class="btn btn-block"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@ViewBag.SelectedCategory"
       asp-route-productPage="1"
       asp-route-filter="priceHighest">
        Price Highest
    </a>
</div>

@*<div>
        <a class="btn btn-block"
           asp-action="List"
           asp-controller="Product">
           Lowest Price
        </a>
    </div>*@
